#expdiv {
  text-align: center;
  width: 80%;
  max-width: 750px;
  min-width: 700px;
  font-size: 20px;
  font-weight: 400;
}
#roundtable {
  width: 100%;
  user-select: none;
  border: 1px solid black;
  margin: 0 auto;
  text-align: left;
}

#resulttable {
  width: 100%;
  max-width: 750px;
  min-width: 700px;
  user-select: none;
  border: 1px solid black;
  margin: 0 auto;
  text-align: left;
}

table {
  width: auto;
  table-layout: auto;
  border-collapse: collapse;
}

.copytable th,
.copytable td {
  padding: 8px; /* Adjust padding as needed */
  border: 1px solid #ccc; /* Add borders for better visualization */
  white-space: nowrap; /* Prevent text from wrapping */
}

#roundtable tr td {
  padding: 0.5%;
  white-space: nowrap;
}

#copytable {
  width: 100%;
  user-select: none;
  border: 1px solid black;
  margin: 0 auto;
  text-align: left;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

#copytable td th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  white-space: nowrap;
}

#copytable tr:nth-child(even) {
  background-color: #dddddd;
}

.expBUTTON {
  width: 100px;
  height: 50px;
  border: 1px solid darkgray;
  border-radius: 5%;
  background-color: #eeeeee;
  font-size: large;
  user-select: none;
}
.expBUTTON:hover {
  background-color: lightgrey;
}
.expBUTTON:focus {
  outline: none;
}

.expBUTTON.next {
  width: 200px;
  height: 60px;
  border: 1px solid darkgray;
  border-radius: 5%;
  background-color: #eeeeee;
  font-size: large;
  user-select: none;
}

.expBUTTON.next:hover {
  background-color: lightgrey;
}
.expBUTTON.next:focus {
  outline: none;
}

.instructions_text {
  display: none;
}

.unavailable:hover {
  background-color: #f11b1b;
}

.hidden {
  display: none;
}

#round_FEEDBACK > p {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.popup {
  display: none;
  position: fixed;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.chosenLocked {
  background-color: #e74c3c; /* Red background color for chosen button */
  color: #fff; /* White text color for chosen button */
  pointer-events: none; /* Disable further clicks on chosen button */
}

.chosen {
  background-color: #e74c3c; /* Red background color for chosen button */
  color: #fff; /* White text color for chosen button */
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#instruction_text {
  text-align: center;
}

div.hidden {
  display: none;
}
